@import 'img.styl'

body 
	margin 0
	padding 0

.header
	width 70%
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	margin-left auto
	margin-right auto 
	margin-top 73px
	img 
		



