@import 'mobile.styl'
@import 'main-content.styl'
@import 'information.styl'

body 
	margin 0
	padding 0
	font-size 16px
	min-width 320px


header
	width 65%
	height 285px	
	display flex
	flex-direction row
	justify-content space-between
	align-items: center;
	margin-left auto
	margin-right auto 
	img 
		width: 318px
		height: 120px

.header-mobile
	display none

.header__info
	margin-left 160px
	margin-top -15px
	color #7b7b7b
	font-family 'PT Sans' sans-serif
	font-size 1em

.header__content_right
	margin-top -17px

.header__number
	font-family 'PT Sans' sans-serif
	font-weight bold
	font-size 1.625em
	margin-bottom 12px

.header__button	
	width 140px
	height 40px
	border solid 1px
	border-radius 5px
	background white
	color #3e7af3
	cursor pointer

.container
	max-width 1440px
	margin auto
	background #e8e8e8

.business-with-miralogic__mobile
	display none

.business-with-miralogic
	margin auto
	margin-top 47px
	display flex
	flex-direction column
	justify-content space-around
	align-items center
	h2
		font-family 'Oswald' sans-serif
		font-size 3.25em
		font-weight 300
		font-style italic
		line-height 1.1
	button
		width 364px
		padding 10px
		margin 22px
		border-radius 5px
		border solid 1px #8a73e3
		background white
		font-family 'Oswald' sans-serif
		font-size 1.375em
		color #766fce
		font-weight bold
		cursor pointer

.business-with-miralogic__image
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top 50px;

.business-with-miralogic__logo-mini
	width 118px
	height 61px	
	margin 50px

.service__mobile
	display none	

.service
	width 50%
	margin auto
	display flex
	flex-direction row
	justify-content space-between

.service__caption
	font-family 'PT Sans' sans-serif
	font-size 1.0625em
	font-weight bold

.service__paragraph	
	font-family 'PT Sans' sans-serif
	font-size 1.0625em
	line-height 1.76

footer
	display flex
	flex-direction column
	align-items center
	margin auto
	div
		display flex
		flex-direction column
		align-items center

.footer__number
	font-family 'PT Sans' sans-serif
	font-size 2.25em
	font-weight bold	

.footer__basement
	font-family 'PT Sans' sans-serif
	font-size 0.875em	
	color #9a9a9a
	margin-top -12px


.footer__basement-second
	font-family 'PT Sans' sans-serif
	font-size 0.875em	
	color #9a9a9a	
	margin-top -12px
	margin-bottom 157px


