@media screen and (max-width: 980px)
	.header-mobile
		background-color #47485f
		height 60px
		min-width 320px
		.header-mobile__menu
			width 25px
			height 15px
		.header-mobile__logo-white
			width 89px
			height 46px
		.header-mobile__telephone
			width 21.6px
			height 22px
		div
			width 90%
			height 60px	
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			margin auto
	header
		display none
	
	.main-content__text
		display flex
		flex-direction column
		position absolute
		top 820px
		
	.main-content__rigth	
	background-color #ffc800
	width 223px
	height 64px
	color #814514
	text-align end
		h2
			font-family sans
			font-size 1.5em
			margin-right: 10px;
			margin-top: 12px;

	.main-content__cafe
		font-size 0.7em
		font-weight bold
		margin-right: 10px;
		position relative
		top 15px	

	.main-content__name
		font-size 1.0625em
		font-family 'PT Sans' sans-serif
		font-weight bold
		color #ffffff
		margin-bottom: -12px;

	.main-content__post
		font-size 0.9em
		font-family sans
	color #ffffff	
	// .main-content
	// 	display none
	
	// .main-content__big-image	
	// 	position absolute

	// .main-content__mask-big
	// 	position relative
	// 	top 595px
	// 	height 509px
	// 	max-width 1440px