@media screen and (max-width: 980px)
	.header-mobile
		background-color #47485f
		height 60px
		min-width 320px
		.header-mobile__menu
			width 25px
			height 15px
		.header-mobile__logo-white
			width 89px
			height 46px
		.header-mobile__telephone
			width 21.6px
			height 22px
		div
			width 90%
			height 60px	
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			margin auto
	header
		display none
	.main-content
		margin-left auto
		margin-right auto 
		max-width 1440px
		height 1104px
		background-image url(./img/mask-big.png), url(./img/big-image.png)
		background-repeat no-repeat
		background-position bottom 
		position relative
		h1 
			font-family 'Oswald' sans-serif
			font-size 2.5em
			font-weight 300
			font-style italic
			line-height 1.1
			color #ffffff

	.main-content__text
		display none

	.main-content__text_mobile
		display flex
		flex-direction column
		position absolute
		left 15.8%
		top 850px

	.main-content .main-content__post
		font-size 1.0625em
		font-weight bold

	.main-content__right_mobile
		margin auto
		margin-top 35px
		background-color #ffc800
		width 223px
		height 64px
		color #814514
		text-align end
		margin-bottom 40px
		h2
			font-family sans
			font-size 1.5em
			margin-right 10px
			margin-top 12px

	.main-content__cafe
		font-size 0.7em
		font-weight bold
		margin-right 10px
		position relative
		top 15px

	.information .information__statistic
		display flex
		flex-direction column
		width 70%
		align-items flex-start

	.information__number
		font-family 'Oswald' sans-serif
		font-size 7.5em
		font-weight 200
		line-height 0.48
		margin-bottom 55px
		margin-top 50px

	.information .information__map
		flex-direction column
		align-items stretch
		width 100%

	.information__main-text
		margin-left 0px

	.information__image-map
		// margin 0 8%
		order -1
		img
			float right

	.information__communications-dns .information__border-left
		border solid 0.5px
		border-color #e8e8e8
		width 90%
		height 268px
		justify-content center
		margin 8%

	.information__communications-dns .information__border-right
		display none	

	.information__image-maintain
		min-height 280px

	.information__image-maintain .information__main-text-second
		display none
	
	.information__main-text-second-mobile
		height 456.45px
		width 90%
		margin auto
		display flex
		flex-direction column
		justify-content space-around
		h2
			font-family 'Oswald' sans-serif
			font-size 1.6875em
			font-weight 300
			font-style: italic
			color #ffffff
			margin auto

	body .business-with-miralogic
		margin-top 0
		p
			display none	

	.container .information
		max-width 985px
		margin auto
		background #ffffff	
		height 100%

	.business-with-miralogic__desktop
		display none	

	.business-with-miralogic .business-with-miralogic__mobile	
		font-family 'PT Sans' sans-serif
		font-size 1.0625em
		font-style normal
	.business-with-miralogic__logo-mini
		width 118px
		height 61px

	.service__mobile
	
		margin 8%

	body .service
		display none



