.service__mobile
	display none	

.service
	width 50%
	margin auto
	display flex
	flex-direction row
	justify-content space-between

.service__caption
	font-family 'PT Sans' sans-serif
	font-size 1.0625em
	font-weight bold

.service__paragraph	
	font-family 'PT Sans' sans-serif
	font-size 1.0625em
	line-height 1.76