div(class="business-with-miralogic")
			h2(class="business-with-miralogic__desktop") Развивайте ваш с бизнес с МираЛоджик
			h2(class="business-with-miralogic__mobile") Начните свою историю успеха с МираЛоджик
			button Получить коммерческое предложение
			div(class="business-with-miralogic__image")
				img(src = "./styles/img/lines-left.svg")
				img(src = "./styles/img/lines-right.svg")
			img(class="business-with-miralogic__logo-mini" src = "./styles/img/logo-en.png")