doctype html
html
	head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/styles/main.css")
	link(href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
	title Miralogic
	body
		include ./header-mobile.pug
		header
			div
				img(src = "./styles/img/logo.png")
				p(class="header__info") Информационные #[br] решения для бизнеса
			div(class="header__content_right")
				P(class="header__number") 800-755-50-53
				button(class="header__button") Обратный звонок	
		include ./main-content.pug
		div(class="container")
			include ./information.pug
		include ./business-with-miralogic.pug
		include ./service.pug
		footer
			p(class="footer__number") 8-800-755-50-53
			p(class="footer__basement") МираЛоджик — информационные решения для бизнеса
			p(class="footer__basement-second") © АйТиЭм Холдинг		








