div(class="information")
				include ./main-content-right-mobile.pug
				div(class="information__statistic")
					div
						p(class="information__number") 13
						p(class="information__text") Кафе в Екатеринбурге
					div
						p(class="information__number") 4
						p(class="information__text") Производственные цеха
					div
						p(class="information__number") 73000
						p(class="information__text") Посетителей в день
				div(class="information__map")
					div(class="information__main-text")
						p Распределенная сеть #[br] по всей стране
						article Услуга организации сети VPN — эффективный #[br]  инструмент для создания единого #[br] информационного пространства компании. #[br] Основная идея виртуальных частных сетей (или #[br] VPN — Virtual Private Network) — это создание #[br] единой виртуальной сети организации, без #[br] строительства дорогостоящих магистральных #[br] сетей, сетей доступа и их обслуживания. 
					div(class="information__image-map")
						img(src = "./styles/img/map-geo-image.png")
				div(class="information__communications-dns")
					div(class="information__border-left")
						img(src = "./styles/img/svyaz.svg")
						div
							p(class="information__paragraph") Выделенный
							p и гарантированный канал связи
					div(class="information__border-right")
						img(src = "./styles/img/DNS.svg")
						div
							p(class="information__paragraph") Клиентская
							p поддержка DNS
				div(class="information__image-maintain")
					div(class="information__main-text-second")
						div
							article Посвятите свои усилия развитию бизнеса, а поддержание информационных систем и компьютерной техники доверьте компании МираЛоджик. Мы гарантируем, что вы получите своевременное профессиональное обслуживание и ваша компания будет работать без перебоев.
						button #[span Подробнее] 
					div(class="information__main-text-second-mobile")
						h2 Cопровождение информационных систем
				div(class="information__result")
					p(class="information__one-word") Результат
					div(class="information__arrow-percentages")
						img(src = "./styles/img/arrow.png")
						p(class="information__percentages") 25%
					div(class="information__two-paragraphs")
						p Сокращение издержек
						p на организацию IT <br/ class="information__br"> инфроструктуры