div(class="main-content")
			include ./main-content-text-mobile.pug
			div(class="main-content__text")
				div(class="main-content__text-container")
					div(class="main-content__text-container__header") Хлеб - символ достатка #[br] и благополучия.
					div
						div(class="main-content__text-container__right")
							p(class="main-content__text-container__cafe") кафе-пекарня 
							h2 поль бейкери 	
						div
							p(class="main-content__name") Руслан Хавитов
							p(class="main-content__post") Шеф-повар сети ПольБейкер
				div(class="main-content__text_white-block")