div(class="main-content__text_mobile")
				div(class="main-content__text-container__header") Хлеб - символ достатка #[br] и благополучия.
				div
					p(class="main-content__name") Руслан Хавитов
					p(class="main-content__post") Шеф-повар сети ПольБейкер