doctype html
html
	head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/styles/main.css")
	title miralogic
	body
		header
			div(class="header")
				div
					img(src = "./styles/img/logo.png")
					p(class="header__info") Информационные #[br] решения для бизнеса
				div(class="header__content_right")
					P(class="header__number") 800-755-50-53
					button(class="header__button") Обратный звонок
		div(class="main-content")			
		img(class="big-image" src = "./styles/img/big-image.png")
