doctype html
html
	head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/styles/main.css")
	link(href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
	title miralogic
	body
		header
			div
				img(src = "./styles/img/logo.png")
				p(class="header__info") Информационные #[br] решения для бизнеса
			div(class="header__content_right")
				P(class="header__number") 800-755-50-53
				button(class="header__button") Обратный звонок
		div(class="main-content")
			img(class="main-content__big-image" src= "./styles/img/big-image.png")
			img(class="main-content__mask-big" src= "./styles/img/mask-big.png")
			div(class="main-content__text")
				div
					h1 Хлеб - символ достатка #[br] и благополучия.		
				div
					div(class="main-content__rigth")
						p(class="main-content__cafe") кафе-пекарня 
						h2 поль бейкери 	
					div
						p(class="main-content__name") Руслан Хавитов
						p(class="main-content__post") Шеф-повар сети ПольБейкер
		div(class="container")
			div(class="information")
				div(class="information__statistic")
					div
						p(class="information__number") 13
						p Кафе в Екатеринбурге
					div
						p(class="information__number") 4
						p Производственные цеха
					div
						p(class="information__number") 73000
						p Посетительей в день	
