doctype html
html
	head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="/styles/main.css")
	link(href="https://fonts.googleapis.com/css?family=Oswald:200" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
	title miralogic
	body
		include ./header.pug
		header
			div
				img(src = "./styles/img/logo.png")
				p(class="header__info") Информационные #[br] решения для бизнеса
			div(class="header__content_right")
				P(class="header__number") 800-755-50-53
				button(class="header__button") Обратный звонок	
		//- div(class="main-content")
		//- 	include ./main-content-text.pug
		//- 	div(class="main-content__text")
		//- 		div
		//- 			h1 Хлеб - символ достатка #[br] и благополучия.
		//- 		div
		//- 			div(class="main-content__right")
		//- 				p(class="main-content__cafe") кафе-пекарня 
		//- 				h2 поль бейкери 	
		//- 			div
		//- 				p(class="main-content__name") Руслан Хавитов
		//- 				p(class="main-content__post") Шеф-повар сети ПольБейкер
		div(class="container")
			div(class="information")
				include ./main-content-right.pug
				div(class="information__statistic")
					div
						p(class="information__number") 13
						p(class="information__text") Кафе в Екатеринбурге
					div
						p(class="information__number") 4
						p(class="information__text") Производственные цеха
					div
						p(class="information__number") 73000
						p(class="information__text") Посетителей в день
				div(class="information__map")
					div(class="information__main-text")
						p Распределенная сеть #[br] по всей стране
						article Услуга организации сети VPN — эффективный #[br]  инструмент для создания единого #[br] информационного пространства компании. #[br] Основная идея виртуальных частных сетей (или #[br] VPN — Virtual Private Network) — это создание #[br] единой виртуальной сети организации, без #[br] строительства дорогостоящих магистральных #[br] сетей, сетей доступа и их обслуживания. 
					div(class="information__image-map")
						img(src = "./styles/img/map-geo-image.png")
				div(class="information__communications-dns")
					div(class="information__border-left")
						img(src = "./styles/img/svyaz.svg")
						div
							p(class="information__paragraph") Выделенный
							p и гарантированный канал связи
					div(class="information__border-right")
						img(src = "./styles/img/DNS.svg")
						div
							p(class="information__paragraph") Клиентская
							p поддержка DNS
				div(class="information__image-maintain")
					div(class="information__main-text-second")
						div
							article Посвятите свои усилия развитию бизнеса, а поддержание информационных систем и компьютерной техники доверьте компании МираЛоджик. Мы гарантируем, что вы получите своевременное профессиональное обслуживание и ваша компания будет работать без перебоев.
						button #[span Подробнее] 
					div(class="information__main-text-second-mobile")
						h2 Cопровождение информационных систем
				div(class="information__result")
					p(class="information__one-word") Результат
					div(class="information__arrow-percentages")
						img(src = "./styles/img/arrow.png")
						p(class="information__percentages") 25%
					div(class="information__two-paragraphs")
						p Сокращение издержек
						p на организацию IT <br/ class="information__br"> инфроструктуры
		div(class="business-with-miralogic")
			h2(class="business-with-miralogic__desktop") Развивайте ваш с бизнес с МираЛоджик
			h2(class="business-with-miralogic__mobile") Начните свою историю успеха с МираЛоджик
			button Получить коммерческое предложение
			div(class="business-with-miralogic__image")
				img(src = "./styles/img/lines-left.svg")
				img(src = "./styles/img/lines-right.svg")
			img(class="business-with-miralogic__logo-mini" src = "./styles/img/logo-en.png")
		include ./service.pug
		div(class="service")
			div
				p(class="service__caption") Компетенции
				p(class="service__paragraph") Интернет для бизнеса  #[br] Телефония в офис #[br] Цифровое телевидение #[br] Виртуальная АТС #[br] Виртуальные частные сети L2/L3 VPN #[br] IT-аутсорс #[br] Системная интеграция #[br] Системы информационной безопасности #[br] Облачная телефония #[br] Видеонаблюдение #[br]	Цифровое телевидение
			div
				p(class="service__caption") Решения
				p(class="service__paragraph") Малому бизнесу #[br] Бандл продукты #[br] Крупному бизнесу #[br] Застройщикам #[br] Операторам связи #[br] Государственному сектору
			div
				p(class="service__caption") МираЛоджик
				p(class="service__paragraph") Истории успеха #[br] Новости #[br] Документы #[br] Офисы 
				p(class="service__caption") Клиенту
				p(class="service__paragraph") Личный кабинет#[br] Техническая поддержка
		footer
			p(class="footer__number") 8-800-755-50-53
			p(class="footer__basement") МираЛоджик — информационные решения для бизнеса
			p(class="footer__basement-second") © АйТиЭм Холдинг		








