div(class="main-content__text")
				div
					h1 Хлеб - символ достатка #[br] и благополучия.
				div
					p(class="main-content__name") Руслан Хавитов
					p(class="main-content__post") Шеф-повар сети ПольБейкер