//- div(class="service__mobile")
//- 	hr(noshade color="#e8e8e8")
//- 	p(class="service__caption") Компетенции
//- 	p(class="service__paragraph") Интернет для бизнеса  #[br] Телефония в офис #[br] Цифровое телевидение #[br] Виртуальная АТС #[br] Виртуальные частные сети L2/L3 VPN #[br] IT-аутсорс #[br] Системная интеграция #[br] Системы информационной безопасности #[br] Облачная телефония #[br] Видеонаблюдение #[br]	Цифровое телевидение
//- 	hr(noshade color="#e8e8e8")
//- 	p(class="service__caption") Решения
//- 	hr(noshade color="#e8e8e8")
//- 	p(class="service__caption") МираЛоджик
//- 	hr(noshade color="#e8e8e8")
//- 	p(class="service__caption") Клиенту
//- 	hr(noshade color="#e8e8e8")

div(class="service__mobile")
	p(class="service__caption") Компетенции
	p(class="service__paragraph") Интернет для бизнеса  #[br] Телефония в офис #[br] Цифровое телевидение #[br] Виртуальная АТС #[br] Виртуальные частные сети L2/L3 VPN #[br] IT-аутсорс #[br] Системная интеграция #[br] Системы информационной безопасности #[br] Облачная телефония #[br] Видеонаблюдение #[br]	Цифровое телевидение
	p(class="service__caption") Решения
	p(class="service__caption") МираЛоджик
	p(class="service__caption") Клиенту

