div(class="service")
			div
				p(class="service__caption") Компетенции
				p(class="service__paragraph") Интернет для бизнеса  #[br] Телефония в офис #[br] Цифровое телевидение #[br] Виртуальная АТС #[br] Виртуальные частные сети L2/L3 VPN #[br] IT-аутсорс #[br] Системная интеграция #[br] Системы информационной безопасности #[br] Облачная телефония #[br] Видеонаблюдение #[br]	Цифровое телевидение
			div
				p(class="service__caption") Решения
			div
				p(class="service__caption") МираЛоджик
				p(class="service__caption") Клиенту
