div(class="service")
			div
				p(class="service__caption") Компетенции
				p(class="service__paragraph") Интернет для бизнеса  #[br] Телефония в офис #[br] Цифровое телевидение #[br] Виртуальная АТС #[br] Виртуальные частные сети L2/L3 VPN #[br] IT-аутсорс #[br] Системная интеграция #[br] Системы информационной безопасности #[br] Облачная телефония #[br] Видеонаблюдение #[br]	Цифровое телевидение
			div
				p(class="service__caption") Решения
				p(class="service__paragraph") Малому бизнесу #[br] Бандл продукты #[br] Крупному бизнесу #[br] Застройщикам #[br] Операторам связи #[br] Государственному сектору
			div
				p(class="service__caption") МираЛоджик
				p(class="service__paragraph") Истории успеха #[br] Новости #[br] Документы #[br] Офисы 
				p(class="service__caption") Клиенту
				p(class="service__paragraph") Личный кабинет#[br] Техническая поддержка