.business-with-miralogic__mobile
	display none

.business-with-miralogic
	margin auto
	margin-top 47px
	display flex
	flex-direction column
	justify-content space-around
	align-items center
	h2
		font-family 'Oswald' sans-serif
		font-size 3.25em
		font-weight 300
		font-style italic
		line-height 1.1
	button
		width 364px
		padding 10px
		margin 22px
		border-radius 5px
		border solid 1px #8a73e3
		background white
		font-family 'Oswald' sans-serif
		font-size 1.375em
		color #766fce
		font-weight bold
		cursor pointer
		&:hover
			background rgba(138, 115, 227, 0.24)

.business-with-miralogic__image
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top 50px;

.business-with-miralogic__logo-mini
	width 118px
	height 61px	
	margin 50px
