.main-content
	margin auto
	max-width 1440px
	height 1104px
	background-image url(./img/mask-big.png), url(./img/big-image.png)
	background-repeat no-repeat
	background-position bottom 
	position relative
	
.main-content__text-container__header
	font-family 'Oswald' sans-serif
	font-size 4.375em
	font-weight 300
	font-style italic
	line-height 1.09
	color #ffffff

.main-content__text_mobile
	display none

.main-content__text
	width 100%
	position absolute
	top 805px
	display flex
	justify-content center
	flex-direction column

.main-content__text_white-block
	background #fff
	width 100%
	height 60px
	max-width 985px
	margin 0 auto


.main-content__text-container
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	max-width 985px
	width 100%
	margin 60px auto 30px

.main-content__right_mobile
	display none

.main-content__text-container__right
	background-color #ffc800
	width 223px
	height 64px
	color #814514
	text-align end
	h2
		font-family sans
		font-size 1.5em
		margin-right 10px
		margin-top 12px
		
.main-content__text-container__cafe
	font-size .7em
	font-weight bold
	margin-right 10px
	position relative
	top 15px	

.main-content__name
	font-size 1.0625em
	font-family 'PT Sans' sans-serif
	font-weight bold
	color #ffffff
	margin-bottom -12px

.main-content__post
	font-size .9em
	font-family 'PT Sans' sans-serif
	color #ffffff