@import 'main-content.styl'
@import 'information.styl'
@import 'business-with-miralogic.styl'
@import 'service.styl'
@import 'mobile.styl'

body 
	margin 0
	padding 0
	font-size 16px
	min-width 320px


header
	width 65%
	height 285px	
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	margin auto
	img 
		width: 318px
		height: 120px

.header-mobile
	display none

.header__info
	margin -15px 0px 0px 160px
	color #7b7b7b
	font-family 'PT Sans' sans-serif
	font-size 1em

.header__content_right
	margin-top -17px

.header__number
	font-family 'PT Sans' sans-serif
	font-weight bold
	font-size 1.625em
	margin-bottom 12px

.header__button	
	width 140px
	height 40px
	border solid 1px
	border-radius 5px
	background white
	color #3e7af3
	cursor pointer
	&:hover
		background rgba(62, 122, 243, 0.21)

.container
	max-width 1440px
	margin auto
	background #e8e8e8

footer
	display flex
	flex-direction column
	align-items center
	margin auto
	div
		display flex
		flex-direction column
		align-items center

.footer__number
	font-family 'PT Sans' sans-serif
	font-size 2.25em
	font-weight bold	

.footer__basement
	font-family 'PT Sans' sans-serif
	font-size .875em	
	color #9a9a9a
	margin-top -12px


.footer__basement-second
	font-family 'PT Sans' sans-serif
	font-size .875em	
	color #9a9a9a	
	margin-top -12px
	margin-bottom 157px


